@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {

/* Colors */
  --purple1: #9A41F3;
  --purple2: #CC99FF;
  --gray: #C0C0C0;
  --white: #FFFFFF;

/* Size */
  --padding1: 0.8rem;
  --autoMargin: auto;
}
